#root {
  margin: 0 auto;
  text-align: center;
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(236, 109, 81, 0.3);
}

.my-shadow-text {
  text-shadow: 1px 1px 50px black;
}

.my-shadow {
  text-shadow: 5px 5px 10px black;
}

.my-shadow-one {
  text-shadow: 1px 1px 5px black;
}

.my-shadow-two {
  text-shadow: 1px 1px 5px #8f7d5e;
}

.hollow-effect {
  background-image: linear-gradient(180deg, #09090b, #602f32, #09090b);
  box-shadow:
    inset 4px 4px 8px rgba(0, 0, 0, 0.9),
    inset -4px -4px 8px rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}
