@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 357 34% 28%;
    --primary-foreground: 0 0% 100%;

    --secondary: 39 20% 46%;
    --secondary-foreground: 0 0% 100%;

    --muted: 357 34% 95%;
    --muted-foreground: 357 34% 40%;

    --accent: 39 20% 46%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 357 34% 90%;
    --input: 357 34% 90%;
    --ring: 357 34% 28%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;

    --primary: 357 34% 28%;
    --primary-foreground: 0 0% 100%;

    --secondary: 39 20% 46%;
    --secondary-foreground: 0 0% 100%;

    --muted: 357 34% 15%;
    --muted-foreground: 357 34% 70%;

    --accent: 39 20% 46%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 357 34% 15%;
    --input: 357 34% 15%;
    --ring: 357 34% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
