@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 0%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 0%);

    --primary: hsl(357 34% 28%);
    --primary-foreground: hsl(0 0% 100%);

    --secondary: hsl(39 20% 46%);
    --secondary-foreground: hsl(0 0% 100%);

    --muted: hsl(357 34% 95%);
    --muted-foreground: hsl(357 34% 40%);

    --accent: hsl(39 20% 46%);
    --accent-foreground: hsl(0 0% 100%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(357 34% 90%);
    --input: hsl(357 34% 90%);
    --ring: hsl(357 34% 28%);

    --radius: 0.5rem;

    --color-1: 330 100% 40%;

    --color-2: 140 100% 55%;

    --color-3: 210 100% 30%;

    --color-4: 60 100% 70%;

    --color-5: 295 100% 45%;

    --brand: 50 100% 50%;
  }

  .dark {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 100%);

    --card: hsl(0 0% 3%);
    --card-foreground: hsl(0 0% 100%);

    --popover: hsl(0 0% 3%);
    --popover-foreground: hsl(0 0% 100%);

    --primary: hsl(357 34% 28%);
    --primary-foreground: hsl(0 0% 100%);

    --secondary: hsl(39 20% 46%);
    --secondary-foreground: hsl(0 0% 100%);

    --muted: hsl(357 34% 15%);
    --muted-foreground: hsl(357 34% 70%);

    --accent: hsl(39 20% 46%);
    --accent-foreground: hsl(0 0% 100%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 100%);

    --border: hsl(357 34% 15%);
    --input: hsl(357 34% 15%);
    --ring: hsl(357 34% 70%);
    --color-1: 330 100% 40%;
    --color-2: 140 100% 55%;
    --color-3: 210 100% 30%;
    --color-4: 60 100% 70%;
    --color-5: 295 100% 45%;
    --brand: 50 100% 50%;
  }
}

  @layer base {
    * {
      @apply border-[hsl(var(--border))];
    }
    body {
      @apply bg-background text-foreground;
    }
}

  

  @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
